.cart-counter {
  position: absolute;
  left: 137px;
  top: 8px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #000000;
  color: #fff;
  font-size: 11px;
}
